server {
    listen ${HTTP_PORT};

    server_name ${DOMAIN};
 
    location / {
        root /usr/share/nginx/html;
        index index.html;
    }

    ${SSL_CONFIG}
    location /dev/ {
        return 403 "Forbidden";
    }
}