server {
    listen ${LISTEN_ADDR}:${HTTP_PORT};

    ${SSL_CONFIG}

    server_name ${DOMAIN};
 
    location / {
        root /usr/share/nginx/html;
        index index.html;
    }
    
    location /dev/ {
        return 403 "Forbidden";
    }
} 